*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #000;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
}

img{
    width: auto;
    height: 100px;
}

.card{
    
    border: 1px solid gainsboro;
    margin: 5px;
    padding: 15px;
    border-radius: 1rem;
}

.card:hover{
    
    cursor: pointer;
}

.event{
    background-color: #003;
}


.booklist{
    width: 90vw;
    max-width: 1170px;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
}


@media screen and (min-width: 768px){
    .booklist{
        grid-template-columns: repeat(3, 1fr);
        align-items: flex-start;
    }
}